## Assignment

### Part I

#### Clean your data

+ Read in temp_data.txt
    + It won't be easy! You'll need to find a way to clean the data
    + Try opening the file in a text editor first
+ Read in temp_X.csv
+ Merge the X variable from temp_X with the data from temp_data
+ Note that we discussed this in class, but it's something you'll just need to practice on your own. 
+ You will struggle with this and it's ok
+ Check out the documentation for read_csv() in the pandas package


### Part II

#### Run a linear regression
+ Using X to predict temperature 
+ Interpret your coefficients!
+ What is one potential use for this linear regression equation? 
+ What does this linear regression mean? 
+ Is this a good model? Why or why not?

In [99]:
#Import Temp X

import pandas as pd 
import numpy as ny
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#import sklearn
from sklearn import metrics
from sklearn import feature_selection

temp_x = pd.read_csv('/Users/averyW/Desktop/GA/DS-SF-32/lessons/lesson-5/temp_X.csv')
temp_x.head()
#temp_x.count()
#temp_x.groupby(['Station_ID','Series_Number','Date']).count()

   Unnamed: 0  Station_ID  Series_Number      Date        X
0           0       25398              1  1986.708  79.8998
1           1       25398              1  1986.875  81.6674
2           2       25398              1  1986.958  82.8068
3           3       25398              1  1987.042  81.6458
4           4       25398              1  1987.125  82.3928

In [100]:
#Temp Data Import

temp_data = pd.read_csv('/Users/averyW/Desktop/GA/DS-SF-32/lessons/lesson-5/temp_data.txt',skiprows=110)
temp_data.columns = ['a']

list = []
list = ['Station_ID', 'Series_Number', 'Date', 'Temperature_C', 'Uncertainty_C', 'Observations', 'Time_of_Observation']
temp_data = pd.DataFrame(temp_data.a.str.split('\t',-1,expand = True))
temp_data.head()
temp_data.columns = ['Station_ID', 'Series_Number', 'Date', 'Temperature_C', 'Uncertainty_C', 'Observations', 'Time_of_Observation']

temp_data.head()
temp_data.count()

#What are the Unique Combinations???

temp_data.groupby(['Station_ID','Series_Number','Date']).count() #This needs to equal the total number of Rows and it does

                                   Temperature_C  Uncertainty_C  Observations  \
Station_ID Series_Number Date
129260     1             1994.208              1              1             1
                         1994.292              1              1             1
                         1994.375              1              1             1
                         1994.458              1              1             1
                         1994.542              1              1             1
                         1994.625              1              1             1
                         1994.708              1              1             1
                         1994.792              1              1             1
                         1994.875              1              1             1
                         1994.958              1              1             1
                         1995.042              1              1             1
                         1995.125              1              1             1
                         1995.208              1              1             1
                         1995.292              1              1             1
                         1995.375              1              1             1
                         1995.458              1              1             1
                         1995.542              1              1             1
                         1995.625              1              1             1
                         1995.708              1              1             1
                         1995.792              1              1             1
                         1995.875              1              1             1
                         1995.958              1              1             1
129261     1             1994.208              1              1             1
                         1994.292              1              1             1
                         1994.375              1              1             1
                         1994.458              1              1             1
                         1994.542              1              1             1
                         1994.625              1              1             1
                         1994.708              1              1             1
                         1994.792              1              1             1
...                                          ...            ...           ...
29361      1             2011.208              1              1             1
                         2011.292              1              1             1
                         2011.375              1              1             1
                         2011.458              1              1             1
                         2011.542              1              1             1
30561      1             2001.625              1              1             1
31027      1             2010.375              1              1             1
                         2010.458              1              1             1
                         2010.542              1              1             1
                         2010.625              1              1             1
                         2010.708              1              1             1
                         2010.792              1              1             1
                         2010.875              1              1             1
                         2010.958              1              1             1
                         2011.042              1              1             1
                         2011.125              1              1             1
                         2011.208              1              1             1
                         2011.292              1              1             1
                         2011.375              1              1             1
                         2011.458              1              1             1
                         2011.542              1              1             1
39911      1             2001.792              1              1             1
43859      1             2009.625              1              1             1
43864      1             2002.042              1              1             1
                         2002.125              1              1             1
                         2002.208              1              1             1
                         2002.292              1              1             1
                         2002.375              1              1             1
                         2002.458              1              1             1
43875      1             2001.708              1              1             1

                                   Time_of_Observation
Station_ID Series_Number Date
129260     1             1994.208                    1
                         1994.292                    1
                         1994.375                    1
                         1994.458                    1
                         1994.542                    1
                         1994.625                    1
                         1994.708                    1
                         1994.792                    1
                         1994.875                    1
                         1994.958                    1
                         1995.042                    1
                         1995.125                    1
                         1995.208                    1
                         1995.292                    1
                         1995.375                    1
                         1995.458                    1
                         1995.542                    1
                         1995.625                    1
                         1995.708                    1
                         1995.792                    1
                         1995.875                    1
                         1995.958                    1
129261     1             1994.208                    1
                         1994.292                    1
                         1994.375                    1
                         1994.458                    1
                         1994.542                    1
                         1994.625                    1
                         1994.708                    1
                         1994.792                    1
...                                                ...
29361      1             2011.208                    1
                         2011.292                    1
                         2011.375                    1
                         2011.458                    1
                         2011.542                    1
30561      1             2001.625                    1
31027      1             2010.375                    1
                         2010.458                    1
                         2010.542                    1
                         2010.625                    1
                         2010.708                    1
                         2010.792                    1
                         2010.875                    1
                         2010.958                    1
                         2011.042                    1
                         2011.125                    1
                         2011.208                    1
                         2011.292                    1
                         2011.375                    1
                         2011.458                    1
                         2011.542                    1
39911      1             2001.792                    1
43859      1             2009.625                    1
43864      1             2002.042                    1
                         2002.125                    1
                         2002.208                    1
                         2002.292                    1
                         2002.375                    1
                         2002.458                    1
43875      1             2001.708                    1

[141637 rows x 4 columns]

In [101]:
#Why is this shit not merging? Data types?

print temp_x['Station_ID'].dtype
print temp_data['Station_ID'].dtype

#yes it is....Change Station ID on temp_data to int64

temp_data['Station_ID'] = pd.to_numeric(temp_data['Station_ID'], errors='coerce')

#Print Again 

print temp_x['Date'].dtype
print temp_data['Date'].dtype

#The Date is also fucked up so convert both

temp_x['Date'] = pd.to_numeric(temp_x['Date'], errors='coerce')
temp_data['Date'] = pd.to_numeric(temp_data['Date'],errors='coerce')

#The Time Series ALso needs to be fixed

print temp_x['Series_Number'].dtype
print temp_data['Series_Number'].dtype

#Convert Series Number

temp_data['Series_Number'] = pd.to_numeric(temp_data['Series_Number'],errors='coerce')
temp_x['Series_Number'] = pd.to_numeric(temp_x['Series_Number'], errors='coerce')

int64
object
float64
object
int64
object

In [102]:
# MERGE EM

#data.head()
data = pd.merge(temp_x,temp_data,how = 'left', on =['Station_ID','Series_Number','Date'])

#if it works there should be 141637 observations for each

print data.count()
print temp_x.count()
print temp_data.count()

Unnamed: 0             141637
Station_ID             141637
Series_Number          141637
Date                   141637
X                      141637
Temperature_C          141637
Uncertainty_C          141637
Observations           141637
Time_of_Observation    141637
dtype: int64
Unnamed: 0       141637
Station_ID       141637
Series_Number    141637
Date             141637
X                141637
dtype: int64
Station_ID             141637
Series_Number          141637
Date                   141637
Temperature_C          141637
Uncertainty_C          141637
Observations           141637
Time_of_Observation    141637
dtype: int64

In [104]:
def newRegression(X,y):
    plt.figure(figsize = (20,8))
    
    
    lm = linear_model.LinearRegression()
    algo = lm.fit(X,y)
    residuals = (y-algo.predict(X)).values
    pvals = feature_selection.f_regression(X, y)[1]
#     pvals = scipy.stats.ttest_ind(X,y)[1]
    
    print("P Values", pvals)
    print("Coefficients" ,lm.coef_)
    print("Y Intercept",lm.intercept_)
    print("R - Squared", lm.score(X,y))
    print("MSE", metrics.mean_squared_error(y, algo.predict(X)))
    b = np.ceil(np.sqrt(len(y)))
    plt.hist(residuals, bins=int(b), color = "#9297a0")
    plt.title("Histogram of the Residuals")

    # keep the model
    return(algo)

In [122]:
#Linear Regression

#Using X to predict temperature
#Interpret your coefficients!


from sklearn import datasets, linear_model

#data.columns Convert

data['Uncertainty_C'] = pd.to_numeric(data['Uncertainty_C'],errors='coerce')

#Define Variables 

X_train = data[['X','Uncertainty_C']]
y_train = data[['Temperature_C']]


print X_train['X'].dtype
print X_train['Uncertainty_C'].dtype


#Define Regression Model

regr = linear_model.LinearRegression()
regr.fit(X_train,y_train)


print regr.coef_
print regr.score(X_train,y_train)
#print type(X_train)
#print type(y_train)

#Run The Model

#newRegression(X_train,y_train)

float64
float64
[[  5.55555556e-01  -2.90434974e-15]]
1.0

In [ ]:
#What is one potential use for this linear regression equation?
#What does this linear regression mean?
#Is this a good model? Why or why not?


#####They literally say this is perfect.